@using SwagClient
@page "/fetchdata"
@inject SwagClient.WeatherForecastApi bizApi

<PageTitle>Weather forecast</PageTitle>

<MudContainer>
  <MudText Typo=Typo.h3>Weather forecast</MudText>

  <MudText Typo=Typo.body1>This component demonstrates fetching data from the server.</MudText>

  <MudButton Variant=Variant.Filled Color=Color.Primary OnClick=HandleQuery>刷新</MudButton>
  <MudButton Variant=Variant.Filled Color=Color.Error OnClick=@(()=>{
             throw new Exception("測試例外！");
             })>測試例外！</MudButton>

  @if (f_loading)
  {
    <MudProgressLinear Color=Color.Info Class="my-1" Indeterminate />
  }

  @if (dataList != null)
  {
    <MudSimpleTable>
      <thead>
        <tr>
          <th>Date</th>
          <th>Temp. (C)</th>
          <th>Temp. (F)</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in dataList)
        {
          <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.TemperatureC</td>
            <td>@item.TemperatureF</td>
            <td>@item.Summary</td>
          </tr>
        }
      </tbody>
    </MudSimpleTable>
  }

</MudContainer>

@code {
  List<WeatherForecast>? dataList;
  bool f_loading = false;

  protected override async Task OnInitializedAsync()
  {
    await HandleQuery();
  }

  async Task HandleQuery()
  {
    f_loading = true;
    
    // await Task.Delay(500);
    dataList = await bizApi.WeatherForecastAsync();
    //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

    f_loading = false;
  }
}
