@using System.Timers
@implements IDisposable

<div>
  <h3>@Name</h3>
  <code>@Status</code>
  <p>
    H:@Health<br />
    $:@Money<br />
    C:@Cargo<br />
  </p>
</div>

@code {
  [Parameter] public string Name { get; set; }

  //## Resource
  Timer timer = new(1000);

  //## State
  float Health = 100;
  float Money = 100;
  float Cargo = 100;

  //## Property
  PersonStatus Status => Health switch
  {
    >= 80 => PersonStatus.Vitality,
    >= 50 => PersonStatus.Normal,
    >= 30 => PersonStatus.Hungry,
    > 0 => PersonStatus.Weak,
    _ => PersonStatus.Dead
  };

  protected override void OnInitialized()
  {
    //timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
    timer.Elapsed += OnTimerElapsed;
    timer.Start();
  }

  void OnTimerElapsed(object? sender, ElapsedEventArgs e)
  {
    if (Health > 0)
      Health--;

    StateHasChanged();
  }

  public void Dispose() => timer.Dispose();

  enum PersonStatus
  {
    Dead,
    Weak,    // 消耗減半,率效減半
    Hungry,  // 肚子餓了
    Normal,
    Vitality // 消耗二倍,率效二倍
  }

}

